<%= render 'shared/page_title', title: @recipe.name %>

<div class="well col-md-8 col-md-offset-2 row">
	<h4 class="center description"><strong>Steps: </strong></h4>
	<hr />
	<%= simple_format(@recipe.description) %>
	<hr />
	<div class="pull-right">
		<p class="center">
			<em>Created by:</em>
		</p>
		<p class="center">
			<%= link_to gravatar_for(@recipe.chef), recipes_path %>
		</p>
		<p class="center">
			<small><%= @recipe.chef.chefname.capitalize %></small>
		</p>
		<p>
			<div class="pull-right">created: <%= time_ago_in_words(@recipe.created_at) %> ago</div>
		</p>
		<p>
			<div class="center">
				<div class="index-link index-link-padding col-md-15 col-md-offset-14">
					<%= link_to "<Back", recipes_path %>		
				</div>
			</div>
		</p>
	</div>
	<p>
		<div class="recipe-action">
			<div class="index-link index-link-padding col-md-15 col-md-offset-14">
				<%= link_to "Edit recipe", edit_recipe_path(@recipe), class: "btn btn-xs btn-warning btn-color" %>
				<%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure you want to delete this recipe?" }, class: "btn btn-xs btn-danger" %>
			</div>
		</div>
	</p>
</div>